In [3]:
import pandas as pd
import numpy as np

In [5]:
states = pd.read_csv('states.csv')

In [6]:
df = pd.DataFrame(np.random.randn(10, 3), columns=list("abc"))

In [8]:
df.shape

(10, 3)

In [10]:
df.iloc[:10]

          a         b         c
0  0.756359 -0.467421  0.904491
1 -0.119450 -0.196160 -1.951455
2 -1.436368  0.331352 -0.622425
3 -0.202310  0.016337 -1.083874
4 -0.535806 -0.692483  1.263423
5 -2.271918 -0.347951 -0.686845
6  0.254426 -0.265074 -1.764666
7  2.140285 -1.359493 -0.080625
8  0.657731 -0.150783  1.213508
9 -0.917811  0.234059 -0.815554